@{
    ViewData["Title"] = "Home Page";
}
<style>
        .btn {
        font-size: 20px; /* Increase font size */
        padding: 100px 72px; /* Increase padding */
        background: green;
        width: 100px; /* Set a fixed width */
        height: 100px; /* Set a fixed height */
        text-align: center; /* Center the text */
    }
</style>


<div class="text-center">
    <h1 class="display-4">Welcome To Agri-Energy Connect</h1>

    <div>
        <button class="btn btn-primary">Employee</button>
        <button class="btn btn-primary">Farmer</button>
    </div>
    
</div>
