@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Agri-Energy Connect</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PROG6212_POE_Final_ST10071737.styles.css" asp-append-version="true" />
</head>

<style>
        .btn {
        font-size: 20px; /* Increase font size */
        padding: 100px 72px; /* Increase padding */
        background: green;
        width: 100px; /* Set a fixed width */
        height: 100px; /* Set a fixed height */
        text-align: center; /* Center the text */
    }
</style>


<div class="text-center">
    <h1 class="display-4">Welcome To Agri-Energy Connect</h1>

    <div>
        <a href="/Employee/EmployeeLogin" class="btn btn-primary">Employee</a>
        <button class="btn btn-primary">Farmer</button>
    </div>
    
</div>
